@model MVC_Urun_Takip.Models.Entity.TBL_MUSTERI
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Müşteri Getir</h2>

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.musteriid, "Müşteri ID")
        @Html.TextBoxFor(m => m.musteriid, new { @class = "form-control", @readonly = "readonly" })
        <br />
        @Html.LabelFor(m => m.musteriad, "Müşteri Adı")
        @Html.TextBoxFor(m => m.musteriad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.musterisoyad, "Müşteri Soyadı")
        @Html.TextBoxFor(m => m.musterisoyad, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Müşteri Güncelle</button>
    </div>
}